/* =============banner-page================= */
header,
.banner-page-container {
    position: relative;
    z-index: 10;
}

.right-sign svg {
    width: 17.37px;
    height: 12.54px;
    fill: rgba(255, 235, 2, 1);
    position: relative;
    bottom: 5px;
}

.right-sign {
    background: rgba(39, 35, 67, 1);
    width: 37px;
    height: 37px;
    padding: 9.82px;
    border-radius: 36.24px;
}

.baneer-trusted {
    display: flex;
    align-items: center;
    gap: 10px;
}

.baneer-trusted p {
    padding-top: 15px !important;
}

.banner-page .container {
    max-width: none !important;
    padding-left: 122px;
}

.banner-page {
    padding-top: unset !important;
}

.banner-txt h2 {
    padding-top: 128px !important;
}

.banner-left img {
    width: 100% !important;
}

.banner-page-container {
    position: relative;
}

.banner-bottom-card {
    margin-right: 17px !important;
}

.banner-bottom {
    margin-right: 108px;
    position: absolute !important;
    bottom: -87px !important;
}

.banner-img::after {
    content: '';
    position: absolute;
    top: -33%;
    left: -22%;
    background-color: #E1E3E5;
    border-radius: 50%;
    /* z-index: -1; */
    padding: 331px;
}

/* =======section-2===== */
.Healthy-txt p {
    max-width: 100% !important;
}

.Healthy-txt2 p {
    padding-bottom: 60px !important;
}

.Healthy-txt1 h2 {
    padding-bottom: 60px !important;
}

.hier-afteBefore {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.Goodbye-btn {
    text-align: center;
    padding: 50px 0px;
}

/*==================  Outshines-section ================ */
.Outshines-sectionh2 {
    max-width: 100% !important;
}

.comparison-headers {
    display: flex;
}

.outshines-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    padding: 208px 130px 130px 130px;
}

.Outshines-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    background-color: rgba(39, 35, 67, 1);
    width: 37px;
    height: 37px;
    padding: 8px 7.5px 8px 7.5px;
    border-radius: 36.24px;
}

.icon img {
    width: 22px;
    height: 15.16px;
    position: relative;
    bottom: 3px;
}

.Outshines-card p {
    font-family: ABC Oracle Book Unlicensed Trial;
    font-size: 32px;
    font-weight: 350;
    line-height: 44.8px;
    color: rgba(0, 0, 0, 1);
    margin: 0 auto;
    text-align: center;
    opacity: 90%;
}

.Outshines-card h2 {
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    color: rgba(39, 35, 67, 1);
    margin: 0 auto;
}

.Outshines-cardimg {
    position: absolute;
    bottom: 66%;
    left: 13%;
}

.pink-card {
    background: rgba(255, 235, 2, 1);

}

.Outshines-card2 {
    background: rgba(240, 242, 243, 1);
}

.Outshines-card {
    max-width: 447px;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.Outshines-card h6 {
    font-family: ABC Oracle Book Unlicensed Trial;
    font-size: 24px;
    font-weight: 350;
    line-height: 33.6px;
    color: rgba(0, 0, 0, 1);
    opacity: 80%;
    margin: 0;
}

/* ===============Secretly-Harming section========== */
.Secretly-Harming {
    background: rgba(240, 242, 243, 1);
    padding: 103px 0px 60px 0px;
}

.Secretly-Harming-txt {
    padding-top: unset !important;
    text-align: left !important;
}

.Secretly-Harming-right {
    text-align: right;
}

.Secretly-Harming-right img {
    /* width: 100%; */
    margin-bottom: 30px;
}

.Secretly-Harming-left P {
    max-width: 813px;
    padding-bottom: 10px;
}

.text-dot {
    padding: 20px;
    background-color: red;
    border-radius: 50px;
}

.Secretly-Harming-left ul {
    max-width: 718px;
}

.transform-img img {
    border: 4px solid rgba(255, 235, 2, 1);
    border-radius: 17px;
}

.banner-page {
    position: relative !important;
}

/* update-code- */
.Healthy-txt1 ul {
    font-size: 30px;
    color: rgba(0, 0, 0, 1);
    margin-left: 20px;
}

.banner-page {
    max-width: 1920px !important;
    margin: 0 auto;
}

.video-txt h3 {
    line-height: 60px !important;
}
.banner-page::after {
    content: '';
    position: absolute;
    left: -10.5%;
    background-color: #E1E3E5;
    border-radius: 50%;
    padding: 331px;
    top: -183px;
}
@media (max-width: 1719px) {
    .banner-page::after {
        padding: 288px;
        top: -222px;
    }

    .Healthy-txt1 ul {
        font-size: 24px;
        margin-left: 15px;
    }

    .banner-txt h2 {
        padding-top: 80px !important;
    }

    .banner-bottom-card {
        margin-right: 60px !important;
    }

    .banner-bottom {
        bottom: -61px !important;
    }

    .hier-afteBefore img {
        max-width: 400px;
    }

    .Healthy-txt2 p {
        padding-bottom: 43px !important;
    }

    .Healthy-txt1 h2 {
        padding: 23px 0px 23px 0px;
    }

    .Outshines-card h2 {
        font-size: 34px;
        line-height: 39px;
    }

    .Outshines-card p {
        font-size: 24px;
        line-height: 36px;
    }

    .Outshines-card h6 {
        font-size: 18px;
        line-height: 21px;
    }

    .Outshines-card {
        max-width: 347px;
    }

    .outshines-section-container {
        padding: 184px 105px 80px 110px;
    }

    .Secretly-Harming-right {
        margin-left: 100px;
    }

    .Secretly-Harming-right img {
        width: 100%;
        margin-bottom: 30px;
    }

    .Healthy-txt1 h2 {
        font-size: 52px !important;
    }

    .Secretly-Harming-left P {
        padding-bottom: unset;
    }

    .Secretly-Harming-txt {
        padding-bottom: 20px !important;
    }

    #h2-txt {
        padding-bottom: 20px !important;
        padding-top: unset !important;
    }
}

@media (max-width: 1399px) {
    .banner-page::after {
        padding: 236px;
        top: -196px;
    }

    .Healthy-txt1 ul {
        font-size: 18px;
        margin-left: 10px;
    }

    .banner-txt h2 {
        padding-top: 60px !important;
    }

    .banner-bottom-card {
        margin-right: 0px !important;
    }

    .banner-txt p {
        padding-bottom: 20px;
    }

    .hier-afteBefore img {
        max-width: 280px;
    }

    .Healthy-txt2 p {
        padding-bottom: 29px !important;
    }

    .Healthy-txt1 h2 {
        padding: 23px 0px 30px 0px !important;
    }

    .Goodbye-btn {
        text-align: center;
        padding: 30px 0px;
    }

    .Outshines-card h2 {
        font-size: 28px;
        line-height: 32px;
    }

    .Outshines-card {
        margin: 0;
    }

    .Outshines-card p {
        font-size: 20px;
        line-height: 28px;
    }

    .Outshines-card h6 {
        font-size: 16px;
        line-height: 22px;
    }

    .Outshines-cardimg {
        width: 200px;
    }

    .Outshines-card {
        max-width: 307px;
    }

    .outshines-section-container {
        padding: 124px 60px 60px 60px;
    }

    .Secretly-Harming {
        padding: 63px 0px 40px 0px;
    }

    .Healthy-txt1 h2 {
        font-size: 43px !important;
    }

    .Secretly-Harming-right img {
        margin-bottom: 15px;
    }

}

@media (max-width: 1200px) {
    .baneer-card-txt p {
        font-size: 12px;
        line-height: 16px;
    }

    .Outshines-card {
        max-width: 265px;
    }

    .banner-txt h2 {
        padding-top: 34px !important;
    }

    .banner-page::after {
        padding: 215px;
        top: -187px;
    }
}

@media (max-width: 1080px) {
    .banner-bottom {
        bottom: -78px !important;
    }
}

@media (max-width: 991px) {
    .banner-page::after {
        display: none;
    }

    .banner-bottom {
        margin-right: 108px;
        position: relative !important;
    }

    #baneer-trusted1 {
        display: flex;
        align-items: center !important;
        gap: 10px;
        justify-content: center;
    }

    .banner-txt p {
        padding-top: 3px;
    }

    .banner-page .container {
        max-width: 70% !important;
        padding-left: unset;
    }

    .banner-txt p {
        padding-top: 22px !important;
    }

    .banner-txt p {
        margin: 0 auto;
    }

    .banner-left img {
        height: 400px;
        border-radius: 6px;
    }

    .banner-bottom {
        margin-right: unset;
    }

    .Healthy-txt1 h2 {
        padding: 78px 0px 14px 0px !important;
        text-align: center !important;
    }

    .Outshines-cardimg {
        position: absolute;
        bottom: 61%;
        left: 33%;
    }

    .Healthy-txt2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 36px;
    }

    .right-sign svg {
        bottom: 11px;
        left: -5px;
    }

    .variation-2-line {
        text-align: center;
        margin: 0 auto;
    }

    .right-sign {
        width: 25px;
        height: 25px;
    }

    .hier-afteBefore img {
        max-width: 220px;
    }

    .hier-afteBefore {
        gap: 25px;
    }

    .Healthy-txt p {
        text-align: center !important;
    }

    .Healthy-txt p {
        padding: 0px 0px 20px 0px !important;
    }

    .Goodbye-btn {
        text-align: center !;
        padding: 17px 0px;
    }

    .GoodbyePink {
        margin-bottom: 30px !important;
        text-align: center !important;
        margin: 0 auto;
    }

    .outshines-section-container {
        padding: 227px 0px 0px 0px;
    }

    .Outshines-card h6 {
        display: none;
    }

    .left-border {
        border-left: unset !important;
        border-right: unset !important;
    }

    .table-bottom {
        border-bottom: 1px solid rgba(221, 221, 221, 1);
    }

    .table-top {
        border-top: 1px solid rgba(221, 221, 221, 1);
    }

    .Outshines-card {
        border-radius: unset;
        border-left: 1px solid rgba(221, 221, 221, 1);
        border-right: 1px solid rgba(221, 221, 221, 1);
    }

    .Outshines-card h2 {
        font-size: 18px;
        line-height: 32px;
    }

    .Outshines-card p {
        font-size: 16px;
        line-height: 22px;
    }

    .Outshines-card {
        padding: 10px
    }

    .icon {
        margin: 0 auto;
        width: 30px;
        height: 30px;
    }

    .icon img {
        width: 18px;
        height: 11.16px;
        position: relative;
        bottom: 6px;
        left: -2px;
    }

    .outshines-section-container {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .Secretly-Harming .row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .Secretly-Harming-right {
        margin-left: unset;
    }

    .Secretly-Harming {
        background-color: unset;
    }

    .Secretly-Harming-right {
        display: flex;
        gap: 20px;
        padding: 20px 0;
    }

    .Secretly-Harming-btn {
        text-align: center;
        padding-top: 20px;
    }

    .Healthy-txt1 h2 {
        font-size: 28px !important;
    }

    .transform-img img {
        border: unset;
        border-radius: unset;
    }
}

@media (max-width: 768px) {
    .banner-left img {
        height: 332px;
    }

    .banner-page .container {
        max-width: 74% !important;
    }

    .hier-afteBefore img {
        max-width: 200px;
    }

    .hier-afteBefore {
        gap: 15px;
    }

    .Outshines-card h2 {
        font-size: 14px;
        line-height: 19px;
    }

    .Outshines-card p {
        font-size: 12px;
        line-height: 16px;
    }

    .icon {
        margin: 0 auto;
        width: 22px;
        height: 22px;
    }

    .icon img {
        width: 11px;
        height: 7.16px;
        bottom: 11px;
        left: -2px;
    }

    .outshines-section-container {
        grid-template-columns: 50% 74px 145px;
        justify-content: center;
    }

    .Outshines-cardimg {
        bottom: 56%;
    }

    #h2-txt {
        padding-bottom: 5px !important;
    }
}

@media (max-width: 576px) {
    .banner-page .container {
        max-width: 100% !important;
        padding: 10px 20px;
    }

    .Secretly-Harming-right {
        padding: 5px 0;
    }

    .banner-txt h2 {
        padding-top: 2px !important;
    }

    .hier-afteBefore img {
        max-width: 181px;
    }

    .Secretly-Harming {
        padding: 33px 0px 0px 0px;
    }

    .outshines-section-container {
        grid-template-columns: 40% 74px 145px;
        column-gap: 10px;
    }

    .Outshines-cardimg {
        left: 25%;
    }
}

@media (max-width: 480px) {
    .hier-afteBefore img {
        max-width: 124px;
    }

    .Outshines-card h2 {
        font-size: 12px;
        line-height: 14px;
    }

    .outshines-section-container {
        grid-template-columns: 40% 74px 126px;
    }

    .Outshines-cardimg {
        left: 15%;
    }
}

@media (max-width: 374px) {
    .outshines-section-container {
        grid-template-columns: 33% 74px 125px;
    }
}